{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Users" %}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>{% trans "Username" %}</th>
              <th>{% trans "Full name" %}</th>
              <th>{% trans "Date of creation" %}</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
              <a href="{% url 'users:update' pk=user.id %}">{% trans "Change" %}</a>
              <br>
              <a href="{% url 'users:delete' pk=user.id %}">{% trans "Delete" %}</a>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
