<!doctype html>
{% load i18n %}
<html lang="en">
  <head  id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Менеджер задач Hexlet</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
      <a class="navbar-brand" href="{% url 'home' %}">Менеджер задач</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:index' %}">Пользователи</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'labels:index' %}">Статусы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:index' %}">Метки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:index' %}">Задачи</a>
          </li>
          <li class="nav-item">
            <a class="me-auto nav-link" href="{% url 'logout' %}">Выход</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="me-auto nav-link" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  <div class="container col-10" id="content">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container my-5 pt-4 border-top">
      <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
  </footer>

  </body>
</html>
