<!doctype html>
<html lang="en">
  <head  id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Менеджер задач Hexlet</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
  </head>
  <body>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand ms-3" href="{% url 'home' %}">Главная</a>
        <a class="navbar-nav nav-link ms-2" href="{% url 'index' %}">Пользователи</a>
        <a class="navbar-nav nav-link ms-3" href="{% url 'login' %}">Вход</a>
        <a class="navbar-nav nav-link nav-link ms-3" href="{% url 'signup' %}">Регистрация</a>
        <a class="navbar-nav me-auto nav-link ms-3" href="/admin">Admin</a>
      </nav>

      {% if messages %}
      {% for message in messages %}
      <div class="container col-10 alert alert-{{ message.tags }} alert-dismissible flashes fade show" role="alert">
        {{ message|safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}

      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <footer>
          <div class="container my-5 pt-4 border-top fixed-bottom">
              <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
          </div>
      </footer>
  </body>
</html>
