{% extends "base.html" %}


{% block content %}
<!--{% if messages %}-->
<!--    {% for category, message in messages %}-->
<!--    {% if category == 'error' %}-->
<!--    <div class="alert alert-danger flashes" role="alert">-->
<!--      {{ message }}-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--{% endif %}-->
<div class="container border col-10 mt-3 p-5 rounded alt='10' bg-light">
    <h1 class="display-4 fw-light">Привет от Хекслета!</h1>
    <p class="fs-5 fw-light">Практические курсы по программированию</p>
    <hr>
    <form class="d-flex" action="/" method="post">
        <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5
         mx-3" value="Узнать больше">
    </form>
</div>
{% endblock %}
