{% extends "base.html" %}


{% if form.errors %}
<div>
    <ul>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Вход</h1>
    <p class="text-danger">{{ error_password }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="id_username">Имя пользователя</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Имя пользователя" required="" id="id_username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_password">Пароль</label>
            <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Пароль" required="" id="id_password">
        </div>
    <input class="btn btn-primary" type="submit" value="Войти">
    </form>
</div>
{% endblock %}
