<div class="mb-3">
    <label class="form-label" for="id_status">Статус</label>
    <select name="status" class="form-select ml-2 mr-3" id="id_status">
        <option value="" selected="">---------</option>
        {% for status in statuses %}
        <option value="{{ status.id }}">{{ status.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label class="form-label" for="id_executor">Исполнитель</label>
    <select name="executor" class="form-select ml-2 mr-3" id="id_executor">
        <option value="" selected="">---------</option>
        {% for executor in executors %}
        <option value="{{ executor.id }}">{{ executor.username }}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label class="form-label" for="id_labels">Метка</label>
    <select name="executor" class="form-select ml-2 mr-3" id="id_labels" multiple>
        {% for label in labels %}
        <option value="{{ label.id }}">{{ label.name }}</option>
        {% endfor %}
    </select>
</div>
<!--<input type="hidden" name="author" value="{{ executor }}">-->
{% if form.errors %}
  <ul>
  {% for field in form %}
    {% for error in field.errors %}
      <li>{{ field.label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
{% endif %}