{% extends "base.html" %}


{% if form.errors %}
<div>
    <ul>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">Создать задачу</h1>
  <form action="{% url 'tasks:create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_name">Имя</label>
      <input type="text" name="name" maxlength="150" class="form-control" placeholder="Имя" required="" id="id_name">
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_description">Описание</label>
        <textarea name="description" class="form-control" placeholder="Описание" id="id_description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_status">Статус</label>
        <select name="status" class="form-select ml-2 mr-3" id="id_status">
            <option value="" selected="">---------</option>
            {% for status in statuses %}
            <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_executor">Исполнитель</label>
        <select name="executor" class="form-select ml-2 mr-3" id="id_executor">
            <option value="" selected="">---------</option>
            {% for executor in executors %}
            <option value="{{ executor.id }}">{{ executor.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_labels">Метка</label>
        <select name="label" class="form-select ml-2 mr-3" id="id_labels" multiple>
            {% for label in labels %}
            <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Создать">
  </form>
</div>
{% endblock %}
