{% extends "base.html" %}


{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Задачи</h1>
    <a class="btn btn-primary mb-3" href="/tasks/create/" role="button">Создать задачу</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="mb-3"><label class="form-label" for="id_status">Статус</label><select name="status" class="form-select ml-2 mr-3" id="id_status">
  <option value="" selected="">---------</option>

  <option value="2">Op123</option>

  <option value="4">на дне</option>

  <option value="7">status1114--</option>

  <option value="9">I did some wrong, but I'm always right.</option>

  <option value="10">фывая</option>

  <option value="16">statttt</option>

</select></div>
      <div class="mb-3"><label class="form-label" for="id_executor">Исполнитель</label><select name="executor" class="form-select mr-3 ml-2" id="id_executor">
  <option value="" selected="">---------</option>

  <option value="1">Алексей Суп</option>

  <option value="2">Алексей Алексеев</option>

  <option value="3">1 1</option>

  <option value="4">22 22</option>

  <option value="5">Danild danilldd</option>

  <option value="6">AL ZZZ</option>

  <option value="10">python snake</option>

  <option value="11">Коля Я</option>

  <option value="13">alisha evergreen</option>

  <option value="15">Rust3 Saf3</option>

  <option value="17">test222 test222</option>

  <option value="18">zxc zxc</option>

  <option value="19">aaaaa bbbbb</option>

  <option value="20">test222 test222</option>

  <option value="21">sam koc</option>

  <option value="22">eug kzm</option>

  <option value="23">Пам Пам</option>

  <option value="24">test333 test333</option>

  <option value="25">qwe2 qwe</option>

  <option value="27">sbaranov 123</option>

  <option value="29">sam koc</option>

  <option value="30">Алексей Гав</option>

  <option value="31">123123 123</option>

  <option value="32">Oleg MOY</option>

  <option value="33">oleg qwer</option>

  <option value="34">123 123</option>

  <option value="35">123 123</option>

  <option value="36">zxc2 zxc2</option>

  <option value="37">Ronin Orban</option>

  <option value="38">Виктор Вангели</option>

  <option value="39">qweqweqw qweqweqweq</option>

  <option value="40">dasdas dasdasd</option>

</select></div>
      <div class="mb-3"><label class="form-label" for="id_label">Метка</label><select name="label" class="form-select mr-3 ml-2" id="id_label">
  <option value="" selected="">---------</option>

  <option value="1">Oo</option>

  <option value="3">hello</option>

  <option value="4">label 1</option>

  <option value="6">chupakabra_ttag111</option>

  <option value="7">2423</option>

</select></div>
      <div class="mb-3"><div class="form-check"><input type="checkbox" name="self_tasks" class="form-check-input mr-3" id="id_self_tasks"><label class="form-check-label" for="id_self_tasks">Только свои задачи</label></div></div>
        <input class="btn btn-primary" type="submit" value="Показать">
    </form>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td>1</td>
        <td>
          <a href="/tasks/1/">Имя</a>
        </td>
        <td>Op123</td>
        <td>1 1</td>
        <td>Алексей Алексеев</td>
        <td>12.05.2025 18:05</td>
        <td>
          <a href="/tasks/1/update/">Изменить</a>
          <br>
          <a href="/tasks/1/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>
          <a href="/tasks/2/">123333</a>
        </td>
        <td>Op123</td>
        <td>22 22</td>
        <td>Алексей Суп</td>
        <td>12.05.2025 18:11</td>
        <td>
          <a href="/tasks/2/update/">Изменить</a>
          <br>
          <a href="/tasks/2/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td>
          <a href="/tasks/3/">123213</a>
        </td>
        <td>Op123</td>
        <td>22 22</td>
        <td>1 1</td>
        <td>12.05.2025 18:27</td>
        <td>
          <a href="/tasks/3/update/">Изменить</a>
          <br>
          <a href="/tasks/3/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>5</td>
        <td>
          <a href="/tasks/5/">Danil</a>
        </td>
        <td>Op123</td>
        <td>Danild danilldd</td>
        <td>Danild danilldd</td>
        <td>13.05.2025 08:56</td>
        <td>
          <a href="/tasks/5/update/">Изменить</a>
          <br>
          <a href="/tasks/5/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>15</td>
        <td>
          <a href="/tasks/15/">8</a>
        </td>
        <td>Op123</td>
        <td>zxc zxc</td>
        <td>zxc zxc</td>
        <td>16.05.2025 20:42</td>
        <td>
          <a href="/tasks/15/update/">Изменить</a>
          <br>
          <a href="/tasks/15/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>19</td>
        <td>
          <a href="/tasks/19/">task1</a>
        </td>
        <td>status1114--</td>
        <td>test222 test222</td>
        <td>test222 test222</td>
        <td>18.05.2025 16:48</td>
        <td>
          <a href="/tasks/19/update/">Изменить</a>
          <br>
          <a href="/tasks/19/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>20</td>
        <td>
          <a href="/tasks/20/">Kloy</a>
        </td>
        <td>на дне</td>
        <td>Алексей Суп</td>
        <td>Алексей Суп</td>
        <td>19.05.2025 09:43</td>
        <td>
          <a href="/tasks/20/update/">Изменить</a>
          <br>
          <a href="/tasks/20/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>21</td>
        <td>
          <a href="/tasks/21/">i</a>
        </td>
        <td>на дне</td>
        <td>AL ZZZ</td>
        <td>Пам Пам</td>
        <td>19.05.2025 10:59</td>
        <td>
          <a href="/tasks/21/update/">Изменить</a>
          <br>
          <a href="/tasks/21/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>22</td>
        <td>
          <a href="/tasks/22/">fgj</a>
        </td>
        <td>на дне</td>
        <td>AL ZZZ</td>
        <td>AL ZZZ</td>
        <td>19.05.2025 11:06</td>
        <td>
          <a href="/tasks/22/update/">Изменить</a>
          <br>
          <a href="/tasks/22/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>23</td>
        <td>
          <a href="/tasks/23/">123123</a>
        </td>
        <td>status1114--</td>
        <td>zxc zxc</td>
        <td>test222 test222</td>
        <td>19.05.2025 14:16</td>
        <td>
          <a href="/tasks/23/update/">Изменить</a>
          <br>
          <a href="/tasks/23/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>24</td>
        <td>
          <a href="/tasks/24/">12312312312</a>
        </td>
        <td>на дне</td>
        <td>22 22</td>
        <td></td>
        <td>19.05.2025 18:54</td>
        <td>
          <a href="/tasks/24/update/">Изменить</a>
          <br>
          <a href="/tasks/24/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>27</td>
        <td>
          <a href="/tasks/27/">test task</a>
        </td>
        <td>Op123</td>
        <td>aaaaa bbbbb</td>
        <td></td>
        <td>20.05.2025 11:48</td>
        <td>
          <a href="/tasks/27/update/">Изменить</a>
          <br>
          <a href="/tasks/27/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>29</td>
        <td>
          <a href="/tasks/29/">task</a>
        </td>
        <td>Op123</td>
        <td>python snake</td>
        <td>Алексей Суп</td>
        <td>21.05.2025 09:19</td>
        <td>
          <a href="/tasks/29/update/">Изменить</a>
          <br>
          <a href="/tasks/29/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>30</td>
        <td>
          <a href="/tasks/30/">привет</a>
        </td>
        <td>Op123</td>
        <td>oleg qwer</td>
        <td>python snake</td>
        <td>21.05.2025 13:46</td>
        <td>
          <a href="/tasks/30/update/">Изменить</a>
          <br>
          <a href="/tasks/30/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>33</td>
        <td>
          <a href="/tasks/33/">stattttt</a>
        </td>
        <td>statttt</td>
        <td>Коля Я</td>
        <td></td>
        <td>22.05.2025 06:18</td>
        <td>
          <a href="/tasks/33/update/">Изменить</a>
          <br>
          <a href="/tasks/33/delete/">Удалить</a>
        </td>
      </tr>

      <tr>
        <td>34</td>
        <td>
          <a href="/tasks/34/">фыва</a>
        </td>
        <td>Op123</td>
        <td>Коля Я</td>
        <td></td>
        <td>22.05.2025 07:28</td>
        <td>
          <a href="/tasks/34/update/">Изменить</a>
          <br>
          <a href="/tasks/34/delete/">Удалить</a>
        </td>
      </tr>

  </tbody>
</table>

    </div>

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Статусы</h1>
    <a class="btn btn-primary mb-3" href="{% url 'statuses:create' %}">Создать статус</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
          <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td>
              <a href="{% url 'statuses:update' pk=status.id %}">Изменить</a>
              <br>
              <a href="{% url 'statuses:delete' pk=status.id %}">Удалить</a>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
